{% extends "./base.html" %}
{% load account %}
{% load i18n %}
{% block 'title' %}Confirm Email Address{% endblock %}
{% block 'data-page' %}'["CommonPage"]'{% endblock %}

{% block 'content' %}
    {% include './errormessages.html' %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-10">
            <div class="col-sm-11 col-lg-5">
                <div class="card text-center shadow-lg border-danger border-2 bg-light"
                     style="margin-top: 25%; margin-bottom: 50%">
                    <div class="card-body">
                        <div class="card-title text-capitalize" style="font-size: 1.8rem;">Confirm Email Address</div>
                        {% if confirmation %}
                            {% user_display confirmation.email_address.user as user_display %}
                            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that
                                <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                                {{ user_display }}.{% endblocktrans %}</p>

                            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <div class="form-group row justify-content-center">
                                    <button type="submit" class="btn more-red text-white col-4">Confirm</button>
                                </div>
                            </form>
                        {% else %}
                            <p>
                                This e-mail confirmation link expired or is invalid. Please <a
                                    href="{% url 'account_login' %}">issue a new e-mail confirmation request</a>.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
