{% extends "./base.html" %}
{% block 'title' %}Change Password{% endblock %}
{% block 'data-page' %}'["CommonPage"]'{% endblock %}

{% block 'content' %}
    {% include './errormessages.html' %}
    <div class="container-fluid offwhite">
        <div class="row justify-content-center mt-10">
            <div class="col-sm-11 col-lg-5">
                <div class="card text-center shadow-lg border-danger border-2 bg-light"
                     style="margin-top: 25%; margin-bottom: 50%">
                    <div class="card-body">
                        <div class="card-title text-capitalize" style="font-size: 1.8rem;">Change Password</div>
                        <form method="post" action="{% url 'account_change_password' %}" class="signup my-4">
                            {% csrf_token %}
                            <div class="row align-items-start my-4">
                                <div class="col-auto col-md-4">
                                    <label class="col-form-label text-muted">Email</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control" value="{{ user.email }}" readonly>
                                </div>
                            </div>
                            <div class="row align-items-start my-4">
                                <div class="col-auto col-md-4">
                                    <label class="col-form-label text-muted">Old Password</label>
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" placeholder="Old Password"
                                           name="oldpassword" required>
                                </div>
                            </div>

                            <div class="row align-items-start my-4">
                                <div class="col-auto col-md-4">
                                    <label class="col-form-label text-muted">New Password</label>
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" placeholder="New Password"
                                           name="password1" required>
                                </div>
                            </div>

                            <div class="row align-items-start my-4">
                                <div class="col-auto col-md-4">
                                    <label class="col-form-label text-muted">Re-enter Password</label>
                                </div>
                                <div class="col-auto">
                                    <input type="password" class="form-control" placeholder="Re-enter Password"
                                           name="password2" required>
                                </div>
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="next" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <div class="form-group row justify-content-center">
                                <button type="submit" class="btn more-red text-white">Change Password</button>
                            </div>
                        </form>
                        <div class="col-12">
                            <p><a href="{% url 'account_reset_password' %}" class="text-muted text-dark">Forgot
                                password?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
