{% extends "./base.html" %}
{% block 'title' %}Reset Password{% endblock %}
{% block 'data-page' %}'["CommonPage"]'{% endblock %}

{% block 'content' %}
    {% include './errormessages.html' %}
    <div class="container-fluid offwhite">
        <div class="row justify-content-center mt-10">
            <div class="col-sm-11 col-lg-5">
                <div class="card text-center shadow-lg border-danger border-2 bg-light" style="margin-top: 25%; margin-bottom: 50%">
                    <div class="card-body">
                        <div class="card-title text-capitalize" style="font-size: 1.8rem;">Reset Password</div>
                        <div class="small mb-4">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</div>
                        <form method="post" action="{% url 'account_reset_password' %}" class="signup my-6">
                            {% csrf_token %}
                            <div class="row align-items-start my-4">
                                <div class="col-auto col-md-3">
                                    <label class="col-form-label text-muted">Email</label>
                                </div>
                                <div class="col-auto">
                                    <input type="email" class="form-control" placeholder="Email ID" name="email"
                                           autocomplete="given-email" required>
                                </div>
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="next" value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <div class="form-group row justify-content-center">
                                <button type="submit" class="btn more-red text-white">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}