<footer class="container-fluid footer-color">
    <div class="row my-6">
        <div class="col-sm-9" style="padding-bottom: 80px; padding-top: 80px">
            <div class="text-white display-4 font-weight-light">Are you ready to start?</div>
            <div class="my-3 text-white">Contact now to avail the free session from our Marketing Team</div>
        </div>
        <div class="col my-auto p-2">
            <button class="btn btn-warning text-capitalize p-3">BUSINESS ENQUIRES</button>
        </div>
    </div>
</footer>